@charset 'utf-8';
/*Author:zyr- 2016.11.18*/
/*news-wiki 小顶百科*/
/*  logo 搜索  start */
.news-head{ padding-top: 34px;}
.news-head .search-form-box span{ font-size: 14px;}
.f6-box{ background: #f6f6f6; width: 100%; min-width: 1180px; overflow: hidden;}
.format_head-bg{width: 100%;background:url(../images/news-wiki/format_head-bg.jpg) repeat-x;}
.format_head{padding: 19px 0;}
.logo-box{margin-right: 120px; float: left;}
.f-hd .f-hd-option{font-size: 18px;color: #272727;line-height: 73px;float: left;margin:0 25px;}
.margin-rg0{margin-right: 0;}
.w214{margin-top: 20px;}
.w214 input{width: 241px; border: 1px solid #e3e3e3; border-right:none ; font-size:12px;color: #999;}
.w214 button{ height: 34px;}
.f-hd-option:hover{color: #004b92}
.f-hd .on{color: #004b92}
.estate-search-input{ width: 230px;height: 34px; line-height:34px;border: 1px solid #e3e3e3;border-right: none; padding: 0;padding-left: 10px; font-size: 12px; color:#999;}
.estate-search-btn{width: 58px;height:36px;background: url(../images/news-wiki/search.png) no-repeat;background-position: center center;background-color:#014b92 ; }
.estate-search-btn:hover{ width: 58px;height:36px;background: url(../images/news-wiki/search.png) no-repeat;background-position: center center;background-color:#353c95 }
.search-form-box{float: left;}
.box-shadow{
	width: 100%;
	box-shadow:2px 2px 4px #000 ;
	height: 1px;opacity: 0.1;
	filter:alpha(opacity=10);       /* IE */
	-moz-opacity:0.1;              /* 老版Mozilla */
	-khtml-opacity:0.1;              /* 老版Safari */
	opacity: 0.1;}
.head-bg{width: 100%; background-color:#fff ;}
/*   / logo 搜索  end       */
/*   banner左  start    */
.f-banner{
	min-width: 1180px;
	width: 1180px;
	margin: 0 auto;
	padding: 20px 0;
	overflow: hidden;
}
.slideBox{
	float: left;
	position: relative;
	width: 900px;
}
.f-banner-img{
	width: 900px;
	overflow: hidden;
	position: absolute;
	z-index: 0;	
	height: 352px;
}
.f-banner-img li img{
	width:900px;
	height: 352px;
}
.slideBox .f-hd{
	position: absolute;
	bottom:0;
	left: 0;
	width: 860px;
	padding: 0 20px;
	height: 40px;
}
.slideBox .f-bd li{    position: relative;}
.slideBox .f-bd h2{
	font-size: 16px;
	color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left:10px;
    width:890px;
    height:40px;
    line-height: 40px;
	background: url(../images/news-wiki/f-banner-bomb.png) repeat;
 	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;	
}
.f-banner-btn{
	float: right;	
	padding-top: 15px;
	cursor: pointer;
}
.f-hd .f-banner-btn li{
	float: left;
	background: url(../images/news-wiki/banner-btn.png) no-repeat;
	width:10px;
	height: 10px;
	margin-right: 4px;
}
.f-hd .f-banner-btn .on{
	background-position:-14px
}
/*    banner左  end     */
/*    banner 右   start     */
.f-banner-fr{
	float: right;
	width: 260px;
}
.f-banner-fr .f-fr-ct{
	position: relative;
	height: 170px;

}
.f-banner-fr .f-fr-ct a{
	position: absolute;
	width: 260px;
	height: 170px;
	z-index: 0;
}
.f-banner-fr .f-fr-ct a>img{
	width: 260px;
	height: 170px;
}
.f-banner-fr .f-fr-ct h3{
	background: url(../images/news-wiki/f-banner-bomb.png) repeat;
	width: 250px;
	height: 36px;
	line-height: 36px;
	padding-left:10px;
	font-size: 14px;
	color: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
}
.f-fr-ct1{
	margin-bottom:12px ;
}
/*    banner 右   end     */
/*    小顶申报nav start      */
.clearfix{clear: both;}
.f-nav-bg{
	width: 1180px;
	min-width: 1180px;
	margin: 0 auto;
	background-color:#f2f2f2 ;
	margin-bottom: 20px;
}
.f-nav-bg .f-nav-tt{
	background-position:-184px 0 ;	
	width: 132px;
	float: left;
	background-color: #004b92;	
	text-align: center;
	padding-top: 17px ;
	padding-bottom: 16px;
	position: relative;
	z-index: 2;
}
.f-nav-tt strong{
	font-size: 24px;
	color: #fff;
	line-height: 23px;
	text-align: center;	
	text-shadow: 1px 1px 1px #000;

}
.f-nav-tt span{
	font-size: 14px;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	line-height: 23px;
	padding-top: 3px;
}
.f-nav-tt i{
	 width: 5px;
    height: 9px;
  	background: url(../images/news-wiki/f-nav-tt.png) no-repeat;
  	position: absolute;
  	left: 132px;
  	top: 50%;
  	margin-top: -4px;
  	z-index: 3;
}

.f-nav-bg .f-nav-tt2{
	background-position:0 0 
}
.f-nav-bg .f-nav {
	float: right;
	width: 1038px;
	border-bottom:1px solid #dfdfdf;
	padding-left: 10px;	
	position: relative;
	z-index: 1;
}
.f-nav .nav{
	float: left;
	zoom: 1;
	height: 42px;
}
.f-nav .nav1{
	float: right;
	position: relative;
	zoom: 1;
	height: 42px;
	z-index: 2;
	padding-right: 20px;
}
.f-nav .nav>a {
	display:inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display:inline; /* IE6、7 block 元素 */  
	*zoom:1; 
	padding: 0 17px;
	text-align: center;
	line-height: 42px;
	font-size: 14px;
	color: #333;
}
.f-nav .nav.cur>a{
	color:#004b92 ;
	background: url(../images/news-wiki/f-nav-hover.png) bottom  center no-repeat;
	border-bottom: 2px solid #004b92;
	height: 40px;
}
.f-nav .nav.cur .f-sub-nav{ display: block;}
.f-nav .nav1>a{
	display: inline-block;
	*display: inline-block;
	padding: 0 15px;
	text-align: center;
	line-height: 42px;
	font-size: 14px;
	color: #333;
}
.f-nav .nav1 .f-nav-more{
	/*padding-left: 77px;*/
	font-size: 12px;
	color: #666;
}
.f-nav .nav1 .f-nav-more:hover{
	color: #004b92;
}
.f-nav .nav1 .hide-more{
	background: url(../images/news-wiki/nav-more.png) right center no-repeat;	
}
.f-nav .nav1 .show-more{
	background: url(../images/news-wiki/nav-more-hover.png) right center no-repeat;	
}
.f-nav .nav1 .f-more-hide{
	border: 1px solid #e3e3e3;
	background-color:#fff ;
	padding: 25px 0;
	position: absolute;
	top:42px;
	right:0px;
	width:1047px;
	display: none;
	z-index: 6;
}

.nav1 .f-more-hide dl{
	float: left;
	width: 115px;
	border-right: 1px solid #e9e9e9;
	text-align: center;
}
.f-more-hide dl dt a{
	font-size: 14px;
	color: #333;
	padding-bottom: 6px;
}
.f-more-hide dl dd a{
	font-size: 12px;
	color: #666;
	line-height: 30px;
}
.nav1 .f-more-hide .border-rg-none{
	border: none;
}
 .m-list-fr .border-none{
	border: none;
}
.m-list>a{
	display:inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display:inline; /* IE6、7 block 元素 */  
	*zoom: 1;
}
.f-nav .nav .f-sub-nav{
	position: absolute;
	top:44px;
	left:20px;
	width: 90%;
	display:none;
	overflow: hidden;
	white-space:nowrap; 
	text-overflow:ellipsis;
}
.f-sub-nav .f-sub{
	float: left;
	display:inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display:inline; /* IE6、7 block 元素 */  
	*zoom:1; 
	height: 39px;
	line-height: 39px;
	padding-right: 30px;
	font-size: 12px;
	color: #666;
}
.f-sub-nav .active{ color: #004b92;}
.nav a:hover{
	color: #004b92;
}
.nav1 a:hover{
	color: #004b92;
}
/*.f-nav .nav:hover .f-sub-nav{
	display: block;
}*/
/*    小顶申报nav end      */
/*      列表   排行    start       */
.m-list-bg{
	width: 1180px;min-width: 1180px;
	margin: 0 auto;
	padding-bottom: 20px;
	overflow: hidden;
}
.m-list-fl{
	float: left;
	width: 900px;
}
.m-list-box{
	padding:20px 0 20px 20px;
	width: 880px;	
	border-top: 1px solid #e6e6e6;
	overflow: hidden;
	transition: all 1s;
	cursor: pointer;
}
.m-list-fl .no-result{
	width: 900px;
	border-top: 1px solid #e6e6e6;
	text-align: center;
	padding-top: 116px;
	height: 393px;
}
.m-list-fl .no-result span{
	font-size: 14px;
	color: #666;
	line-height: 24px;
	text-align: center;
	
}
.m-list-box:hover{
	background-color: #f8f7f8;
}

.m-list-box .m-list{
	float: left;
}
.m-list-box .w240{
	width: 240px;
	margin-right: 20px;
}
.m-list-box .m-list img{
	display:inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display:inline; /* IE6、7 block 元素 */  
	*zoom:1; 
	width:240px ;
	height: 160px;
	margin-right: 20px;
}
.m-list-box .m-list h3{
	font-size: 20px;
	font-weight: bold;
	color: #333;
	line-height: 30px;
	height: 30px;
	margin-bottom: 5px;
	transition: all 1s;
	display: -webkit-box;
    overflow: hidden;
    white-space: normal!important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 600px;
}
.m-list-box .m-list h3:hover{
	color: #014b92;
}
.m-list-box .m-list p{
	font-size: 14px;
	color: #666;
	line-height: 25px;
	width: 616px;
	margin-bottom: 10px;
	display: -webkit-box;
    overflow: hidden;
    white-space: normal!important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 616px;
}
.m-list-box .m-list span{
	font-size: 12px;
	color:#7f7f7f;
	width: 616px;
	margin-right: 25px;
	line-height: 12px;	
}
.m-list-box .m-list span .icon{
	margin-right: 4px;
	display:inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display:inline; /* IE6、7 block 元素 */  
	*zoom:1; 
	width: 14px;
	height: 12px;
	background: url(../images/news-wiki/icon-bg3.png) no-repeat;	
	position: relative;
	top: 2px;
}
.m-list-box .m-list span .icon2{
	width: 16px;
	height: 12px;
	background: url(../images/news-wiki/icon-bg2.png) no-repeat;
}
.loadmore{
	width:900px;
	height: 50px;
	line-height: 50px;
	background-color: #f3f3f3;
	text-align: center;
	cursor:pointer;
	border-top: 1px solid #e6e6e6;
	font-size: 16px;
	color: #999;
}
.load{
	 display:inline-block;
	 width:80px;
	 height:26px;
	background: url(../images/news-wiki/load_in.gif) no-repeat;
	background-position: -208px -107px;
	margin-top: 10px;
	line-height: 26px;
	font-size: 16px;
	padding-left: 22px;
	color: #999;	
} 
.m-list-fr{
	float: right;
	border: 1px solid #e3e3e3;
	width: 258px;
}
/*======================================================改动模块   热门排行  start ===============================================*/
.m-list-fr .m-fr-top{
	width: 100%;
	overflow: hidden;
	background-color: #f8f8f8;
	margin-bottom: 10px;
}
.m-list-fr .m-fr-top li{
	float: left;
	width:49.5%;
	background-color: #f8f8f8;
	font-size: 16px;
	color: #333;
	text-align: center;
	line-height: 46px;
	height: 46px;
	border: 1px solid #e3e3e3;	
}
.m-list-fr .m-fr-top .border-rg-none{
	border-right: none;
}
.m-list-fr .m-fr-top .on{
	border: none;
	border-top: 2px solid #014b92;
	color: #014b92;
	background-color:#fff;
}
.m-list-fr .m-list-couent{
	width: 240px;
	margin: 0 auto;
	
}
.m-list-fr .m-list-couent li{
	border-bottom: 1px dotted #ccc;
}
.m-list-couent li>a{
	overflow: hidden;
		display:inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display:inline; /* IE6、7 block 元素 */  
	*zoom:1; 
}
.m-list-couent li>a> i{
	display:inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display:inline; /* IE6、7 block 元素 */  
	*zoom:1; 
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	background-color:#bbb ;
	font-size: 14px;
	color: #fff;
	margin-right: 10px;
	float: left;
	margin-top: 10px;
	float: left;
}
.m-list-couent li>a:hover i{
	background-color: #fa4f4f;
}
.m-list-couent li>a .top{
	background-color:#fa4f4f ;	
}
.m-list-couent li>a span{
	width:212px;
	white-space:nowrap;
	 overflow:hidden; 
	 text-overflow:ellipsis;
	 float:left;
	 line-height: 38px;
}
.m-list-move{
	width: 210px;
	margin: 0 auto;
	display: none;
}
.displayblock{
	display: block;
}
.m-list-move>p{
	font-size: 12px;
	color: #999;
	text-indent: 24px;
	text-align:left;
	display: -webkit-box;
    overflow: hidden;
    white-space: normal!important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    transition: all 1s;
}
.m-list-couent li>a:hover span{
	color: #014b92;
}
.slideTxtBox .m-list-couent .border-bt-none{
	border-bottom: none;
}
/*========================================================改动模块   热门排行 end ================================================================*/
.m-list-fr .m-list-tt{
	margin-bottom: 10px;
}
.m-list-bg .Pages-bg{ float: right;}
.m-list-bg .Pages-bg .m-list-fr{ float: none;}
.m-list-bg .m-list-fr dt{
	height: 44px;
	border-bottom: 1px solid #e6e6e6;
}
.m-list-bg .m-list-fr dt a{
	display: inline-block;
	*display: inline-block;
	line-height: 43px;
	height: 43px;
	padding: 0 20px;
	border-bottom: 2px solid #014b92;
	font-size: 16px;
	color: #333;
}
.m-list-fr dd{
	margin:0 10px;
	border-bottom: 1px dotted #ccc;
}
.m-list-fr dd a{
	display: inline-block;
	width: 238px;
	overflow: hidden;
	text-overflow:ellipsis;
	line-height: 38px;
}
.m-list-fr dd a:hover p{
	color: #014b92;
}
.m-list-fr dd a:hover span{
	color: #014b92;
}
.m-list-fr dd a:hover b{
	color: #014b92;
}
.m-list-fr dd b{
	margin-left:4px ;
	margin-right:4px;
}
.m-list-fr dd p{
	width: 131px;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
}
.m-list-fr dd span,.m-list-fr dd p,.m-list-fr dd b{
	font-size: 14px;
	color: #666;
	line-height: 25px;
	float: left;
	display:inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display:inline; /* IE6、7 block 元素 */  
	*zoom:1; 
	text-overflow:ellipsis;
	margin-top:7px;  
}
.m-list-fr dd:hover{
	color: #014b92;
}
.m-list-fr dd:hover i{background-color:#fa4f4f ;}
/*      / 列表   排行   end      */


/*     文章详情页     start    */
 .pages{margin-top: 17px;}
.pages .m-list-fl{background-color:#fff;margin-bottom: 20px;}
.m-list-fl .m-patent-liti{border-bottom:1px solid #e3e3e3;}
 .m-patent-liti{
	padding-left: 30px;
	padding-top: 30px;
	padding-right: 20px;
}
.m-patent-liti .m-patent i{
	background: url(../images/news-wiki/f-patent-bg.png) no-repeat;
	display: inline-block;
	*display: inline-block;
	*zoom:1;
	width: 100px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	margin-right: 17px;
}
.m-patent .m-patent-tt{
	font-size: 20px;
	font-weight: bold;
	color: #333;
	line-height: 30px;
}
.m-patent .news-sources{
	font-size: 12px;
	color: #999;
	margin-right: 43px;
	background: url(../images/news-wiki/iconfont-icon.png) 0 20px no-repeat;
	padding-left: 20px;
	line-height: 55px;	
	float: left;
}
 .m-patent .icon-bg2{
	background: url(../images/news-wiki/icon-bg2.png) 0 22px no-repeat;
}
 .m-patent .icon-bg3{
	background: url(../images/news-wiki/icon-bg3.png) left center no-repeat;
}
 .m-patent .m-link{
	float: right;
	margin-top: 12px;
}
.m-patent-ct{
	padding: 25px;
	border-bottom: 1px solid #e3e3e3;
}  
.m-patent-ct{
	font-size: 14px;
	color: #666;
	
}
.m-patent-ct .abstract{
	line-height: 30px;	
	background-color: #fbfbfb;
	padding-left: 6px;
	margin-bottom: 27px;
	text-indent: 28px;
} 
.m-patent-ct img{
	text-align: center;
	margin-bottom: 40px;
	margin-top: 22px;
}
/*.m-patent-ct p{
	line-height: 36px;
	text-indent: 28px;
}*/
.f-flip{
	padding:15px 20px;
	overflow: hidden;
}
.f-flip li em{
	display:inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display:inline; /* IE6、7 block 元素 */  
	*zoom:1; 
	width: 48px;
	height: 20px;
	line-height: 20px;
	background-color: #0058aa;
	color: #fff;
	font-size: 12px;	
	text-align: center;
	margin-right: 5px;
}
.f-flip li strong{
	font-size: 14px;
	color: #333;
	cursor: pointer;
	font-weight: normal;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
	height: 21px;
}
.f-flip .f-page{
	height: 30px;
	line-height: 30px;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.f-flip .f-next{
	height: 30px;
	line-height: 30px;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.f-flip li strong:hover{
	color: #0058aa;
	text-decoration: underline;
}
/*     文章热评 start        */
.hot-review{
	background-color:#f6f6f6 ;
	padding-top: 30px;
	padding-bottom: 20px;
}
.hot-review u{
	font-size: 16px;
	color: #333;
	line-height:18px;
	border-left: 2px solid #004b92;
	padding-left: 7px;
	text-decoration: none;
}
.hot-review .f-review{
	background-color: #fff;
	border: 1px solid #e3e3e3 !important;
	width: 883px;
	max-width: 883px;
	height: 81px;
	max-height:81px ;
	padding-top: 15px;
	padding-left: 15px;
	font-size: 14px;
	color: #999;
	margin: 20px 0;
}
.hot-review .f-review-btn{
	width: 110px;
	height: 40px;
	line-height: 40px;text-align: center;
	background-color: #3fbff0;
	font-size: 14px;
	color: #fff;
	margin-left: 790px;
	transition: all 1s;
}
.hot-review .f-review-btn:hover{
	opacity: 0.7;
	 filter:alpha(opacity=70);
 	-moz-opacity:0.7;
 	-khtml-opacity: 0.7;
}
/*     /文章热评 end       */
/*     评论区 start       */
.m-comment-box{
	background-color: #fff;
	padding:20px 20px;
	width: 860px;

}
.m-comment-box .m-list-box{
	width: 840px;
	border-top: none;
	border-bottom: 1px dotted #ccc;
	overflow: hidden;

}
.m-comment-box .m-list-box .w70{
	width: 72px;
	height: 72px;
	margin-right: 15px;
}
.m-list-box .w70 img{
	width: 72px;
	height: 72px;
}
.m-comment-box .m-list .fontsize16{
	font-size:16px;
	line-height: 19px;
	margin-bottom: 0;
	margin-top: 4px;
}
.m-comment-box .m-list p{
	margin-bottom:4px;
	line-height: 30px;	
	width: 680px;
	text-overflow: ellipsis;
	
}
.m-list .deta .icon{
	background: url(../images/news-wiki/icon-bg3.png.png) no-repeat;
	width: 12px;
	height: 12px;
	display:inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display:inline; /* IE6、7 block 元素 */  
	*zoom:1; 
}
.m-comment-box .border-top-none{
	border-top: none;
	width: 860px;	
}
	/*     /评论区 end      */
/*     /推荐顾问      start   */
.Pages-bg .m-list-fr{background-color:#fff; overflow:hidden;margin-bottom: 20px;}
.Pages-bg .m-list-fr .margin0{margin-bottom: 0;}
.Pages-bg .m-list-fr .list-consul{width: 237px; padding-top: 15px;padding-bottom: 11px;}
.Pages-bg .m-list-fr dd .adviser{
	width: 70px;
	height: 70px;
	float: left;
}
.Pages-bg .m-list-fr .list-consul .g-advisory{
	float:left;
	margin-left: 15px;
	width: 119px;
}
.list-consul .g-advisory .name{
	color: #323232;
	font-size: 16px;
	line-height: 30px;
}
.list-consul .g-advisory .name-jp{
	background: url(../images/news-wiki/fr-bg-img.jpg) right center no-repeat;
	display: inline-block;
	*zoom:1;
	*display: inline;
	width: 13px;
	height: 16px;
	position: relative;
	top:2px;
	left: 2px;
}
.g-advisory .g-ex{
	font-size: 12px;
	color: #999;
	line-height: 18px;
}
.g-advisory .price{
	font-size: 16px;
	color: #fa5655;
	line-height: 24px;
}
.g-advisory .price em{
	font-size: 12px;
}
.consulting-box{
	margin-left: 22px;
	margin-top: 8px;
}
.Pages-bg .list-consul .consulting-box .consulting{
	width: 88px;
	text-align: center;
	height: 28px;
	line-height: 28px;
	border: 1px solid #e3e3e3;
	display:inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display:inline; /* IE6、7 block 元素 */  
	*zoom:1; 
	margin-right: 10px;	
	font-size: 14px;
	color: #666;
	transition: all 0.4s;
}
.list-consul .consulting-box .consulting:hover{
	background-color: #3fbff0;
	border: 1px solid #3fbff0;
	color: #fff;
}
.m-list-bg  .border-none{
	border: none;
}

/*     /推荐顾问 右     end    */

/*
 * 小顶资讯
 * Author:xtt
 * 2016.11.18
 */

/*推荐文章*/
.information-recom {
	width: 1180px;
	margin: 0 auto;
	font-size: 0;
	[;letter-spacing: -4px;];
	[;word-spacing: -4px;];
}
.information-side,
.information-recom-list {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	font-size: 14px;
	[;letter-spacing: normal;];
	[;word-spacing: normal;];
}
.information-side {
	width: 751px;
	overflow: hidden;
	position: relative;
}
.information-side-list>li,
.information-side-list>li>a {
	display: block;
	overflow: hidden;
}
.information-side-list>li a {
	position: relative;
	height: 272px;
}
.information-side-list>li p {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0 10px;
	background: url(../images/transparent_bg/transparent40.png);
	line-height: 43px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #fff;
	font-size: 16px;
}
.information-side-list>li img {
	width: 100%;
	height: 100%;
}
.side-dot {
	position: absolute;
	right: 15px;
	bottom: 15px;
	z-index: 1;
}
.side-dot>a {
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: #616161;
	margin: 0 2px;
}
.side-dot>a.on {
	background: #fff;
}
.information-recom-list {
	border: 1px #d9d9d9 solid;
	border-left: none;
	padding: 10px 20px 10px 30px;
	width: 378px;
	height: 250px;
}
.info-recommend-title {
	position: relative;
	font-size: 20px;
	color: #004b92;
} 
.info-recommend-title>a {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -7px;
	color: #999;
	font-size: 14px;
}
.information-recom-list>ul {
	padding: 5px 0;
}
.information-recom-list li {
	padding: 3px 0;
	color: #a0a0a0;
	font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.information-recom-list li>a {
	font-size: 14px;
	color: #333;
	margin-left: 5px;
    position: relative;
    top: -2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.navigation-list-box>a:hover,
.infor-navigation-type>a:hover,
.information-more:hover,
.information-link-list>li:hover,
.information-link-list>li:hover>a,
.information-type>li>a:hover,
.info-recommend-title>a:hover,
 .information-recom-list li:hover,
 .information-recom-list li:hover>a {
 	color: #004b92;
 }
/*工商资讯*/
.information-module {
	width: 1180px;
	margin: 10px auto;
}
.information-h3 {
	line-height: 70px;
	font-size: 22px;
	color: #004b92;
}
.information-title {
	font-size: 0;
	height: 46px;
	[;letter-spacing: -4px;];
	[;word-spacing: -4px;];
}
.information-title>li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	padding: 8px 0;
	margin-right: 1px;
	font-size: 18px;
	border-left: 1px transparent solid;
	border-right: 1px transparent solid;
	border-top: 4px transparent solid;
	overflow: hidden;
	cursor: pointer;
	[;letter-spacing: normal;];
	[;word-spacing: normal;];
}
.information-title>li>a {
	display: block;
	padding: 0 50px;
	line-height: 26px;
	border-left: 1px #dcdcdc solid;
}
.information-title>li.active {
	background: #fff;
	border-left: 1px #d9d9d9 solid;
	border-right:1px #d9d9d9 solid;
	border-bottom: 1px #fff solid;
	border-top: 4px #004b92 solid;
}
.information-title>li.active>a {
	margin-left: -1px;
	color: #004b92;
}
.information-title>li.active+li>a {
	margin-left: -1px;
}
.information-title>li:first-child>a {
	border-left: 0;
}
.information-title>li:last-child>a {
	border-right: 1px #dcdcdc solid;
}
.information-tab-box {
	border: 1px #d9d9d9 solid;
}
.information-type {
	margin: 0 18px;
	padding: 10px;
	overflow: hidden;
    border-bottom:1px #e5e5e5 dashed;
}
.information-type>li {
	display: block;
	float: left;
	font-size: 16px;
	margin-right: 30px;
	line-height: 35px;
}
.information-type>li>a {
	color: #333;
}
.information-link {
	margin: 0 18px;
	padding: 20px 10px;
	overflow: hidden;
	position: relative;
}
.information-link-list {
	width: 710px;
	float: left;
	margin-left: -20px;
}
.information-link-list>li {
	display: block;
	float: left;
	margin: 0 20px;
	width: 315px;
    color: #a0a0a0;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.information-link-list>li>a {
	font-size: 14px;
    color: #333;
    margin-left: 5px;
    position: relative;
    top: -2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.information-link-img {
	float: right;
}
.information-link-img>li {
	display: block;
	float: left;
	margin-left: 20px;
}
.information-link-img>li>a {
	display: block;
	width: 194px;
	height: 138px;
	overflow: hidden;
	position: relative;
}
.information-link-img>li img {
	display: block;
	width: 100%;
	height: 100%;
}
.information-link-img>li p {
	position: absolute;left: 0;right: 0;bottom: 0;padding: 5px;background: url(../images/transparent_bg/transparent50.png);color: #fff;font-size: 12px;	text-align: center;line-height: 18px;
}
.information-link-img>li big {
	font-size: 14px;
	display: block;
}
.information-more {
	position: absolute;
	bottom: 30px;
	left: 10px;
	color: #999;
	font-size: 14px;
}
/*资讯导航*/
.information-navigation {
	border: 1px #d9d9d9 solid;
	position: relative;
}
.information-navigation>.line {
	position: absolute;
	left: 0;
	top: -3px;
	display: block;
	background: #004b92;
	width: 187px;
	height: 4px;
}
.infor-navigation-type {
	padding: 25px 15px;
	overflow: hidden;
	font-size: 18px;
	border-bottom: 1px #d9d9d9 solid;
}
.infor-navigation-type>a {
	display: block;
	float: left;
	padding: 0 10px;
	margin: 5px 15px;
	color: #333;
	line-height: 26px;
}
.infor-navigation-type>a.active {
	background: #004b92;
	color: #fff;
}
.infor-navigation-type>a.active:hover {
	color: #fff;
}
.infor-navigation-list {
	padding: 0 20px;
}
.infor-navigation-list>li {
	padding: 15px 0;
	position: relative;
	border-bottom: 1px #e5e5e5 dashed;
}
.infor-navigation-list>li:last-child{
	border: none;
}
.infor-navigation-list>li>label {
	display: block;
	position: absolute;
	width: 80px;
	left: 0;
	top: 50%;
	font-size: 16px;
	line-height: 20px;
	margin-top: -10px;
	text-align: center;
	color: #333;
}
.navigation-list-box {
	padding-left: 120px;
}
.navigation-list-box>a {
	margin: 0 20px;
	line-height: 30px;
	white-space: nowrap;
}
/*面包屑*/
.bread_nav{padding: 15px 10px 0 10px; font-size: 12px;color: #666; width: 1160px; margin: 0 auto;}
.bread_nav a:hover{color: #004b92;}

.m-list-tit{width: 100%;height: 38px;border-bottom: 2px solid #e9e9e9;}
.m-list-tit>h3{display: inline-block;vertical-align: middle;*display: inline;*zoom:1;text-align:
		center;height: 38px;padding: 0 32px;line-height: 38px;font-size: 18px;color: #000;border-bottom: 2px #004b92 solid;}
.m-article-lists{
	margin-top: 10px;
}
.m-article-lists>li{
	font-size: 16px;
	line-height: 35px;
	vertical-align: middle;
}
.m-article-lists>li>i{
	display: inline-block;
	vertical-align: middle;
}
.m-article-lists>li>a{
	float: left;
	font-size: 0;
}
.m-article-lists>li>a>i{
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	color: #333;
	width: 6px;
	height: 6px;
	margin-right: 9px;
	background: url(../images/news-wiki/list-style-icon.png);
}
.m-article-lists>li>a>span{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #333;
}
.m-article-lists>li>a:hover span{
	color: #004b92;
}
.m-article-lists>li>a:hover i{
	background-position: -6px 0;
}
.m-article-lists>li>span{
	float: right;
	font-size: 12px;
	color: #999;
}
.bk-fff{
	background: #fff;
}
/*分页 start*/
.newPage{padding: 30px 0; font-size:0;}
.newPage>a{display: inline-block;*display:inline;*zoom:1;vertical-align: middle;line-height: 34px;font-size: 14px;padding: 0 5px;min-width: 26px;background: #fff;color: #767776;border: 1px solid #dedede;}
.page-number{display: inline-block; vertical-align: middle; font-size: 0; text-align: center;}
.page-number>a{display: inline-block;*display:inline;*zoom:1;vertical-align: middle;line-height: 34px;font-size: 14px;padding: 0 5px;min-width: 26px;background: #fff;color: #767776;border: 1px solid #dedede;}
.page-number>a:first-child{border-left:1px solid #dedede}
.page-number>span{ font-size: 14px; color: #ccc; margin: 0 7px; font-weight: 700;}
.page-number>a:hover{background: #014c92;color: #fff; border-color: #014c92;}
.page-number>a.active{background: #014c92;color: #fff;border-color: #014c92;}
.newPage>a:hover{border-color: #014c92;color: #014c92;}
.newPage a.prevPage,.newPage a.nextPage{padding: 0 7px;min-width: 16px;}
.newPage a.prevPage{ margin-right: 5px}
.newPage a.prevPage span{margin-left: 5px;font-size: 14px;}
.newPage a.nextPage{ margin-left: 5px}
.newPage a.nextPage span{font-size: 14px;}
.newPage .page-total{display: inline-block; color: #aaa; font-size: 12px; margin-left: 11px; line-height: 34px; vertical-align: middle;}
.newPage .page-total>span{display: inline-block;line-height: 34px; visibility: middle;}
.newPage .page-total .page-input{ vertical-align: middle;width: 35px; height: 14px; padding: 10px 0; border: 1px solid #ededed; color: #333; text-align: center; margin: 0 6px; }
.newPage .page-total .page-input.page-on{ border-color: #014c92;}
.page-total-sure{ display: inline-block;vertical-align: middle; width: 58px; margin-left: 4px; height: 34px; border: 1px solid #ededed; color: #333; line-height: 34px; text-align: center; font-size: 14px; }
.page-total-sure:hover{ background: #014c92;color: #fff; border-color: #014c92;}
/*分页 end*/
.bread_nav>a+a:before {padding: 0 5px;color: #ccc;	content: "/\00a0";}
.summary{color: #a3a3a3;padding: 20px 25px;border-bottom: 1px #e1e1e1 dashed; text-indent: 2em;}